*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* adding styling for the darkmode */
.darkMode {
    background-color: black;
    color: white;
  }
  
.navbar{
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 20px;
    width: 100%;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color:black;
}
p{
    color: #555;
}

.container{
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3rem;

}
.row img {
    margin: 2rem;
}
.col-2{
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.col-2 h1{
    font-size: 50px;
    margin: 20px 0;
    margin-bottom: 0px;
}
.active{
	color:rgb(162, 15, 118);
}

/* scroll bar css */
::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
    border-radius: 10px;
  }



  /* Caloasel */
  .container {
    margin: 5rem auto;
    width: 40rem;
    height: 700px;
    position: relative;
    overflow: hidden;
  }
  .container >h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  .slides {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .slide {
    min-width: 100%;
    position: relative;
  }
  .slide img {
    width: 100%;
    height: 100%;
  }
  .slide-controls {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #next-btn,
  #prev-btn {
    cursor: pointer;
    background: transparent;
    font-size: 30px;
    border: none;
    padding: 10px;
    color: white;
  }
  #next-btn:focus,
  #prev-btn:focus {
    outline: none;
  }
  .slide-content {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    font-size: 60px;
    color: white;
  }
  
