*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* adding styling for the darkmode */
.darkMode {
    background-color: black;
    color: white;
  }
  
.navbar{
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 20px;
    width: 100%;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color:black;
}
p{
    color: #555;
}

.container{
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3rem;

}
.row img {
    margin: 2rem;
}
.col-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.text{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
        typing 1.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
.col-2 h1{
    font-size: 50px;
    margin: 20px 0;
    margin-bottom: 0px;
}
.active{
	color:rgb(162, 15, 118);
}

/* scroll bar css */
::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
    border-radius: 10px;
  }
