* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-y: hidden;
}


.navbar {
	display: flex;
	align-items: center;
	padding: 20px;
}
.logo img {
	position: absolute;
	top: 10px;
	left: 10px;
}
nav {
	flex: 1;
	text-align: right;
}
nav ul {
	display: inline-block;
	list-style-type: none;
}
nav ul li {
	display: inline;
	margin-right: 20px;
}
a {
	text-decoration: none;
	color: black;
}
p {
	color: #555;
}
.small-container {
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.col-4 {
	flex-basis: 33.33%;
	padding: 10px;
	margin-bottom: 50px;
}
.title {
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: black;
}
.active{
	color:rgb(162, 15, 118);
}
.btn{
	color: rgb(3, 3, 3);
    background-color:antiquewhite;
    border: 2px solid rgb(3, 3, 3);
    font-size: 1rem;
    padding: 0.05rem;
    transition: 0.5s ease-in;
}

.btn:hover {
	border: 2px solid rgb(162, 15, 118);
	color: rgb(162, 15, 118);
	background-color: transparent;
}

.img{
	height: 300px;
	width: 280px;
}