* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.title{
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 20px;
    width: 100%;
}
.pic,.post,.describe{
    border-radius: 10px;
    margin: 5px;
}
.post{
    background-color: rgb(218, 165, 44);
    padding:10px;
}
.describe{
    height: 50px;
    border: 2px solid black;
    font-size: 16px;
    padding: 5px;
}
.review{
    text-align: center;
    margin: 10px;
}
.pic{
    padding: 10px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color:black;
}
p{
    color: #555;
}
.icon {
    width: 2rem;
}
.menu-icon {
    cursor: pointer;
    display:none;
}


@media screen and (max-width: 850px) {
    .menu-icon {
        display: block;
   }
   .nav-bar {
    display: none;
    position: absolute;
    top: 7rem;
    left: 0;
    width: 100%;
    background-color: var(--bgcolor);
    text-align: center;
}
.nav-bar.responsive {
    display: block;
}
.review-container {
    padding-top: 6rem;
}
}
.active{
	color:rgb(162, 15, 118);
}

/* scroll bar css */
::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
    border-radius: 10px;
  }