* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.title{
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 20px;
    width: 100%;
}
.pic,.post,.describe{
    border-radius: 10px;
    margin: 5px;
}
.post{
    background-color: rgb(218, 165, 44);
    padding:10px;
}
.describe{
    height: 50px;
    border: 2px solid black;
    font-size: 16px;
    padding: 5px;
}
.review{
    text-align: center;
    margin: 10px;
}
.pic{
    padding: 10px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color:black;
}
p{
    color: #555;
}
.active{
	color:rgb(162, 15, 118);
}

/* scroll bar css */
::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
    border-radius: 10px;
  }
  .main {
    margin-left: 40%;
    margin-top: 15%;
   }
   .rating-star {
       direction: rtl;
       font-size: 40px;
       unicode-bidi: bidi-override;
       display: inline-block;
   }
   .rating-star input {
       opacity: 0;
       position: relative;
       left: -30px;
       z-index: 2;
       cursor: pointer;
   }
   .rating-star span.star:before {
       color: #777777;
   }
   .rating-star span.star {
       display: inline-block;
       font-family: FontAwesome;
       font-style: normal;
       font-weight: normal;
       position: relative;
       z-index: 1;
   }
   .rating-star span {
       margin-left: -30px;
   }
   .rating-star span.star:before {
       color: #777777;
       content:"\f006";
   }
   .rating-star input:hover + span.star:before, .rating-star input:hover + span.star ~ span.star:before, .rating-star input:checked + span.star:before, .rating-star input:checked + span.star ~ span.star:before {
       color: #ffd100;
       content:"\f005";
   }
    
   .selected-rating{
       color: #ffd100;
       font-weight: bold;
       font-size: 42px;
   }
   .main {
    margin-left: 40%;
    margin-top: 15%;
   }
   .rating-star {
       direction: rtl;
       font-size: 40px;
       unicode-bidi: bidi-override;
       display: inline-block;
   }
   .rating-star input {
       opacity: 0;
       position: relative;
       left: -30px;
       z-index: 2;
       cursor: pointer;
   }
   .rating-star span.star:before {
       color: #777777;
   }
   .rating-star span.star {
       display: inline-block;
       font-family: FontAwesome;
       font-style: normal;
       font-weight: normal;
       position: relative;
       z-index: 1;
   }
   .rating-star span {
       margin-left: -30px;
   }
   .rating-star span.star:before {
       color: #777777;
       content:"\f006";
   }
   .rating-star input:hover + span.star:before, .rating-star input:hover + span.star ~ span.star:before, .rating-star input:checked + span.star:before, .rating-star input:checked + span.star ~ span.star:before {
       color: #ffd100;
       content:"\f005";
   }
    
   .selected-rating{
       color: #ffd100;
       font-weight: bold;
       font-size: 42px;
   }